<h2>Hello, <%= @user.email %>!</h2>
<h3>Your Pets:</h3>
<% @user.animals.each do |animal| %>
<%= animal.name %>
<% end %>

<h3>Your Appointments:</h3>
<% @user.appointments.each do |appointment| %>
<%= appointment.date %>
<%= appointment.time %>
<% end %>
