<h3>Pet Name: <%= @animal.name %> </h3>
<p> Appointment Date: <%= appointment.date %></p>
<p> Appointment Time: <%= appointment.time %></p>
<%= link_to "Cancel Appointment", session_path, method: :delete %>
