<h2>Hello, <%= current_user.name %>!</h2><br>
<h3>My Pets:</h3><br>
  <% current_user.animals.each do |animal| %>
    <ol>
      <%= animal.name %>
    </ol>
  <% end %><br>
<h3>My Appointments:</h3>
<% current_user.appointments.each do |appointment| %>
<%= appointment.date %>
<%= appointment.time %>
<% end %>
