<h1>Your Pets:</h1>

<% @animals.each do |animal| %>
<ol>
<h2><b><%= animal.name %></b></h2>
<p><%= animal.age %> year(s) old</p>
<i><p><%= animal.breed %></p></i>
</ol>
<% end %><br>
<%= link_to "Create New Animal", new_user_animal_path(current_user) %>

<!--
 create_table "animals", force: :cascade do |t|
    t.integer "user_id"
    t.string "name"
    t.integer "weight"
    t.string "breed"
    t.string "species"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_animals_on_user_id"
  end
 -->
