<h2><b><%= current_user.name %>'s Pets:</b></h2>
<% if current_user.animals.none? %>
    <i> There are no pets currently on file. </i>
  <% end %>
  Select the pet you want more information on:
  <br>
  <br>
  <% current_user.animals.each do |animal| %>
    <ol>
      <%= link_to animal.name, user_animal_path(current_user, animal) %>
    </ol>
  <% end %>
  <br>
<i>New member of the family? Click <%= link_to "here", new_user_animal_path(current_user) %>!</i>
