<h3>My Pets:</h3><br>
  <% current_user.animals.each do |animal| %>
    <ol>
      <%= animal.name %>
    </ol>
  <% end %><br>
<p>New member of the family? Click <%= link_to "here", new_animal_path(current_user) %> to add a new pet.</p>
