<% if current_user.appointments.none? %>
    <b><i> You have no pending appointments.</i></b>
<% end %>
<% current_user.appointments.each do |appointment| %>
<ol>
<h2><%= link_to appointment.date.strftime("%B %d, %Y") %></h2> at
<%= appointment.time.strftime("%l %P") %><br>
 with Dr.
<%= appointment.vet.name %>
</ol>
<% end %>
