<h2>Current Appointments:</h2><br>
<% current_user.appointments.each do |appointment| %>
<ol>
<h2><%= appointment.date.strftime("%B %d, %Y") %></h2> at
<%= appointment.time.strftime("%l %P") %>
 with Dr.
<%= appointment.vet.name %>
</ol>
<% end %>
<br>
<br>
<br>
<br>
<br>
<p>Want to schedule a new appointment? Click <%= link_to "here", new_user_appointment_path(current_user) %>.</p>
